* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-layout-container {
  background-color: #fff !important;
}

.ant-btn {
  text-transform: uppercase;
}

.contant-wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
